<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pudding Docs Website</title>
  </head>
  <body>
    <h1>🍮Pudding Docs🍮</h1>
    <h2>
      Seja bem vindo ao website do Pudding Docs! Venha ver como este projeto
      funciona!
    </h2>
    <h1>Informações Principais</h1>
    <h2>
      Aqui está as informações: (Psiu -
      <a href="https://github.com/umastrodev12/Pudding-Docs"
        >Clique aqui para saber mais</a
      >
      )
    </h2>
    <h2>
      Projeto feito pelo
      <a href="https://github.com/umastrodev12">Aquele Astro Dev</a>
    </h2>
    <h2>
      Projeto licenciado pela
      <a href="https://www.apache.org/licenses/LICENSE-2.0"
        >Apache 2.0 License</a
      >
      permitindo uso comercial, Modificação, Distribuição, Uso de patente e Uso
      privado. Mas sendo limitado pelos seguintes requisitos: Uso de Marca
      registrada, Responsabilidade e Garantia, e com as seguintes condições:
      Aviso de licença e direitos autorais e Mudanças Estaduais?
    </h2>
    <h1>Como usar o Pudding Docs?</h1>
    <h2>
      Se você quer fazer documentações de produtos, aplicações suas, você deve
      fazer um fork do repositório da Pudding Docs, adicionar sua alteração e
      pronto!
    </h2>
    <style>
      body {
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      a {
        text-decoration: none;
        color: rgb(208, 119, 17);
      }
    </style>
  </body>
</html>